absl-py
accelerate
aiohttp
aiosignal
astunparse
async-timeout
attrs
backcall
black
cachetools
certifi
charset-normalizer
click
cloudpickle
cmake
cycler
decorator
stream-d4py
docarray
docker
easydict
ecdsa
filelock
findimports
flake8
flatbuffers
fonttools
frozenlist
fsspec
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
httpsproxy-urllib2
huggingface-hub
idna
importlib-metadata
ipython
jedi
jina-hubble-sdk
Jinja2
joblib
keras
kiwisolver
libclang
lit
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdurl
ml-dtypes
mpmath
msgpack
multidict
mypy-extensions
networkx
nltk
nose
numpy
oauthlib
opt-einsum
packaging
pandas
parso
pathspec
pexpect
pickleshare
Pillow
platformdirs
prompt-toolkit
protobuf
psutil
ptyprocess
pwinput
pyasn1
pyasn1-modules
pycodestyle
pyflakes
Pygments
PyJWT
pyparsing
python-dateutil
python-jose
pytz
PyYAML
pyzmq
redis
regex
requests
requests-oauthlib
rich
#safetensors==0.7.0
scikit-learn
scipy
seaborn
six
storm
sympy
tensorboard
tensorboard-data-server
tensorflow
#tensorflow-estimator
#tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
thrift
tokenizers
tomli
torch
tqdm
traitlets
transformers
typing-extensions
ujson
urllib3
wcwidth
websocket-client
Werkzeug
wrapt
yarl
zipp
antlr4-python3-runtime
tf_keras